{% extends 'template.html' %}

{% block title %}
    Show Graph
{% endblock %}

{% block content %}
    <style>
        .graph-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .graph-image {
            max-width: 100%;
            max-height: 100%;
        }

        .warning {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

    <div class="container">
        <div class="text-center mt-4 mb-4">
            <a href="{{ url_for('views.graph_selection') }}" class="btn btn-primary">Go Back to Graph Selection</a>
        </div>
    <div class="container">
        <div class="graph-container">
            <img src="{{ url_for('static', filename=plot_path) }}" alt="Stock Data Plot" class="graph-image">
        </div>
    </div>
{% endblock %}
